gradle.properties
app/google-services.json
app/coinkarasu.properties
app/admob.properties
app/fabric.properties
app/billing.properties
*.iml
.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
